---
import Layout from '../layouts/Layout.astro';
import MainSection from '../components/MainSection.astro';
import LandingHeader from '../components/LandingHeader.astro';
import ModelYSection from '../components/ModelYSection.astro';
import ModelThree from '../components/ModelThree.astro';
import ModelXSection from '../components/ModelXSection.astro'
import ModelSSection from '../components/ModelSSection.astro'
import Powerwall from '../components/Powerwall.astro'
import Accesories from '../components/Accesories.astro'
---

<Layout title='Coches eléctricos, energía solar y limpia | Tesla'>
  <LandingHeader />
  <main class='snap-y snap-mandatory relative w-full h-screen overflow-y-auto overflow-x-hidden scroll-smooth'>
    <div class='snap-center'>
      <MainSection />
    </div>
	<div class='snap-center'>
		<ModelSSection />
	  </div>
	<div class='snap-center'>
	  <ModelThree />
	</div>
	<div class='snap-center'>
		<ModelXSection />
	</div>
	<div class='snap-center'>
		<ModelYSection />
	</div>
	<div class='snap-center'>
		<Powerwall />
	</div>
	<div class='snap-center'>
		<Accesories />
	  </div>
  </main>
</Layout>
